<h3>Nadia Velikaia</h3>
<img src="/Assets/images/portrait.jpg" alt="portrait" style="float: right; margin-left: 20px;" width=400 height=400>
<p>
Until last year I identified myself as a freight forwarding inductry professional with 10+ years of related experience. 
Today, I am a 3rd semester student at Centennial College studying Software Engineering. This career change is a big challenge for me, 
but with the set of transferrable skills that I have and my academic proficiency I am confident that I'd be a great add on to any software team.
I am interested in data science and analytics, full-stack programming and web application development, 
and can offer my future employer my extrime attention to details and desire to find an optimal solution.
</p>
<h4>Hard Skills</h4>
<ul>
    <li>C#, Microsoft's .NET Core</li>
    <li>Python, Java</li>
    <li>Oracle, MS-SQL Server</li>
    <li>HTML5/CSS/JavaScript</li>
</ul>
<h4>Soft Skills</h4>
<ul>
    <li>Excellent communication skills</li>
    <li>Effective planning and time management</li>
    <li>Problem-solving skills</li>
    <li>Keen eye for details</li>
    <li>Adaptability and flexibility in a fast-paced environment </li>
</ul>
