<h3>Let's connect!</h3>

<!--Contact Form -->
    <form >
      <div class="row">
        <div class="col">
          <input type="text" id="firstName" class="form-control" placeholder="First Name">
        </div>
        <div class="col" class="form-group">
          <input type="text"  id="lastName" class="form-control" placeholder="Last Name">
        </div> 
      </div><br> 
      
      <div class="form-group">
        <input type="contact_number" id="contactNumber" class="form-control" placeholder="Contact Number"><br>
      </div>
      
      <div class="form-group">
        <input type="email"  id="email" class="form-control" placeholder="Email Address"><br>
      </div>  
      
      <div class="form-group">
        <textarea name="message" id="message"  class="form-control" placeholder="Type your message here" cols="30" rows="8"></textarea><br>
      </div>

      <a href="/home" class="btn btn-primary"  id="sendButton" type="submit">Submit</i></a> 

      <a href="/contact" class="btn btn-warning" class="btn btn-primary" id="cancelButton" type="reset" >Reset</a>  


    </form><br>

<p><a href="tel:6473365062"><i class="fa-solid fa-phone"></i> (647)336-5062 </a><br>
<a href="mailto:nvelikai@my.centennialcollege.ca"><i class="fa-solid fa-envelope"></i> nvelikai@my.centennialcollege.ca </a><br>
<a href="https://www.linkedin.com/in/nadia-velikaia/"><i class="fa-brands fa-linkedin-in"></i> LinkedIn </a>
<a href="https://github.com/nvelikaia"><i class="fa-brands fa-github"></i> GitHub </a>
</p>