<h3>Welcome!</h3>
<p>Hello! Hello! My name is Nadia Velikaia and I am a Software Engineering Technician student at Centennial College.<br>
My areas of interest include data science and analytics, full-stack programming and web application development.<br>
Follow below link to learn more about my journey to IT.<br><br>
<a href="/about">About</a> 
</p>