
<h3>Below are 2022 startup projects that drawn my attention and that I dream to work on one day.</h3>
<div class="row">
  <div class="col-sm">
  <div class="card" style="width: 16rem; height: 27rem">
  <img class="card-img-top" src="/Assets/images/eyeware.jpg" alt="eyeware">
    <div class="card-body">
    <h5 class="card-title">EYEWARE TECH</h5>
    <h6 class="card-subtitle mb-2 text-muted">HEAD & EYE TRACKING SOFTWARE</h6>
    <p class="card-text">AI-powered head and eye tracking software that supercharges webcams and 3D sensors on any device.<br></p>
    <a href="https://eyeware.tech/" class="btn btn-primary">Learn more</a>
    </div>
  </div>
  </div>

<div class="col-sm">
<div class="card" style="width: 16rem; height: 27rem">
  <img class="card-img-top" src="/Assets/images/nuvoair.jfif" alt="nuvoair">
  <div class="card-body">
    <h5 class="card-title">NUVOAIR</h5>
    <h6 class="card-subtitle mb-2 text-muted">Virtual care for respiratory health</h6>
    <p class="card-text">NuvoAir's digital respiratory care platform empowers you to better manage your Asthma or COPD.<br><br></p>
    <a href="https://www.nuvoair.com/" class="btn btn-primary">Learn more</a>
  </div>
</div>
</div>
<div class="col-sm">
<div class="card" style="width: 16rem; height: 27rem">
  <img class="card-img-top" src="/Assets/images/xfarm.jfif" alt="xfarm">
  <div class="card-body">
    <h5 class="card-title">XFARM</h5>
    <h6 class="card-subtitle mb-2 text-muted">The intuitive app for agriculture</h6>
    <p class="card-text">We help you be more efficient, thanks to the use of a simple and complete digital platform<br><br><br><br></p>
    <a href="https://xfarm.ag/?lang=en" class="btn btn-primary">Learn more</a>
  </div>
</div>
</div>
</div>


