<h3>List of available services</h3><br>

<div class="row">

    <div class="col-sm">
    <h4>Front-End Development</h4>    
    <h5><i class="fa-brands fa-html5"></i> HTML   <i class="fa-brands fa-css3-alt"></i> CSS   <i class="fa-brands fa-square-js"></i> JavaScript</h5>
    </div>

    <div class="col-sm">
    <h4>Back-End Development</h4>    
    <h5><i class="fa-solid fa-code"></i> C#   <i class="fa-brands fa-java"></i> Java   <i class="fa-brands fa-python"></i> Python</h5>
    </div>

    <div class="col-sm">
    <h4>Database Management</h4>
    <h5><i class="fa-sharp fa-solid fa-database"></i> Oracle, PL/SQL   <i class="fa-solid fa-database"></i> MS-SQL Server</h5>
    </div>


  </div>